.countdown {
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  // background-image: linear-gradient(top left, white 50%, darken(white, 8%) 50%);
}
