.intro {
  background-image: url('/app/images/beer-cheers.jpg');
  background-position: center;
  background-size: cover;
}

.intro__shading {
  background-color: rgba($yellow, .85);
  padding: 4em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__heading-icon {
  width: 80px;
  display: inline-block;
}

.intro__title {
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: .25em 0;
}

.intro__tagline {
  margin: 0;
  font-size: .875em;
  text-transform: uppercase;
}
