.latest-feeds {
}

.latest-feeds__twitter {
  background-color: $dark;
  padding: 2em 1em;
  color: white;
}

.latest-feeds__instagram {
  padding: 2em 1em;
  color: $dark;
}

.latest-feeds__heading {
  color: $yellow;
}
