html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, button {
  &:focus {
    outline: 1px solid #ff3333;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid $dark;
  padding: 0;
  max-width: 100%;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  letter-spacing: 1px;
  @include breakpoint($third-breakpoint) {
    font-size: 1.5em;
  }
}
